<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- favicon -->
    <link href="/assets/images/favicon.ico" rel=icon>

    <!-- web-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{{ "/assets/css/style.css" | relative_url }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
  </head>

  <body>
    <div class="container my-5">
        {{ content }}
    </div>
  </body>
</html>