<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% seo %}

    <!-- favicon -->
    <link href="/assets/images/favicon.ico" rel=icon>

    <!-- web-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/micromodal.css" | relative_url }}" />
    <style>
        /*[x-cloak] {*/
        /*    display: none;*/
        /*}*/
        .text-primary {
            color: #aad13e;
        }
        .bg-primary {
            background: #aad13e;
        }
        .bg-primary-50 {
            background: #fbfff3;
        }
        .border-primary {
            border-color: #e8f2ca;
        }
    </style>
  </head>

  <body>
    <!-- HERO SECTION -->
    <!-- reference : https://tailwindui.com/components/marketing/sections/heroes -->
    <div class="relative bg-primary-50 overflow-hidden">

      {% include pattern_top.html %}

      <div class="relative pt-6 pb-16 sm:pb-24">
        {% include header.html %}

        <!-- HERO SECTION -->
        {% if page.hero_title_left %}
        <main class="mt-12 mx-auto max-w-7xl px-4 sm:mt-16">
          <div class="text-center">
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
              <span class="block xl:inline">{{ page.hero_title_left }}</span>
              <span class="block text-primary xl:inline">{{ page.hero_title_right }}</span>
            </h1>

            {% if page.hero_image %}
              <div class="my-12 flex justify-center">
                <figure>
                  <img class="lazy" data-src="{{ page.hero_image | relative_url }}" alt="" width="360" height="360">
                </figure>
              </div>
            {% endif %}

            <div class="">
              <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                {{ page.hero_content }}
              </p>
            </div>
          </div>
        </main>
        {% endif %}
      </div>
    </div>

    <!-- PAGE CONTENT -->
    <!-- reference : https://tailwindui.com/components/marketing/sections/content-sections -->
    <div class="relative py-16 bg-white overflow-hidden border-t border-primary">

      {% include pattern_bottom.html %}

      <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto">
          <h1>
            <span class="block text-base text-center text-primary font-semibold tracking-wide uppercase">{{ page.subtitle }}</span>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ page.title }}</span>
          </h1>
        </div>
        <div class="block-content-section mt-12 prose prose-indigo prose-lg text-gray-500 mx-auto">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include modal_micromodal.html %}

    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
    <script>
      function addClasses(el, classes = '') {
        var divClass = classes.split(' ');
        divClass.forEach(function (val) {
          el.classList.add(val);
        });
      }

      // credit : https://stackoverflow.com/a/57377341/1843755
      function wrapElement(el, wrapper) {
        el.parentNode.insertBefore(wrapper, el);
        wrapper.appendChild(el);
      }

      var imageEls = document.querySelectorAll('.block-content-section img');
      var imageGalleryEls = document.querySelectorAll('.image-gallery');
      var modalImgSrcEl = document.querySelector('#modal-1 .image-src');
      var modalImgDownloadEl = document.querySelector('#modal-1 .image-download');
      var modalImgCaptionEl = document.querySelector('#modal-1 .image-caption');

      // format image gallery to two column
      Array.from(imageGalleryEls).forEach(function (el) {
        addClasses(el, 'flex flex-wrap -mx-2');

        var figureEls = el.querySelectorAll('figure');
        Array.from(figureEls).forEach(function (el2) {
          // set class to <figure>
          addClasses(el2, 'cursor-pointer h-full block md:flex p-1 border hover:shadow rounded-lg text-xs text-center hover:bg-gray-200');

          // add wrapper to achieve two column
          var newEl = document.createElement('div');
          addClasses(newEl, 'px-2 my-2 md:w-1/2 w-full');
          wrapElement(el2, newEl);
        });

        var imageEls = el.querySelectorAll('img');
        Array.from(imageEls).forEach(function (el2) {
          addClasses(el2, 'object-cover');
        });

      });

      // get all image inside content section block
      // then assign event listener, onclick show HTMX modal
      Array.from(imageEls).forEach(function (el) {
        addClasses(el, 'cursor-pointer transition shadow-lg hover:opacity-75 lazy w-full rounded-lg');

        // initiate micromodal event listener
        el.setAttribute('data-micromodal-trigger', 'modal-1');
        el.addEventListener('click', function(event) {
          // reset value inside modal
          modalImgCaptionEl.innerHTML = '';
          modalImgSrcEl.src = '';
          modalImgDownloadEl.href = '';

          // set modal image src and caption on image click
          var imageEl = event.target;
          var imageCaptionEl = imageEl.parentElement.querySelector('figcaption');
          if (modalImgSrcEl) {
            modalImgSrcEl.src = imageEl.src;
            modalImgDownloadEl.href = imageEl.src;
          }
          if (imageCaptionEl) {
            modalImgCaptionEl.innerHTML = imageCaptionEl.innerHTML;
          }
        });
      });

      // initiate micromodal
      MicroModal.init({
        onShow: function(modal) {
          // console.info(`${modal.id} is shown`)
        },
      });

      var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
      });
    </script>
  </body>
</html>